{% extends 'base.html' %}

{% block content %}
    <div id="container">
        <h1>Kyle Webb</h1>
				<p>
                    Email: kylewebb@missouri.edu
				</p>
        <h1>Reed Meyer</h1>
                <p>
                    Email: rgmeyer@mail.missouri.edu
                </p>
        <h1>Brett Potts</h1>
                <p>
                    Email: bapbdd@mail.missouri.edu
                </p>
        <h1>Dustin Doubet</h1>
                <p>
                    Email: dddhb3@mail.missouri.edu
                </p>
        <h1>Javon Pickett</h1>
                <p>
                    Email: jmp4m8@mail.missouri.edu
                </p>
        
    </div>
{% endblock %}